<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689766559983-bnbvun3e33q1l1p1r3b9ogs26ph7gs5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689766559983-bnbvun3e33q1l1p1r3b9ogs26ph7gs5n</string>
	<key>API_KEY</key>
	<string>AIzaSyCVo5oJySM8mAfXb4aTIh0XZVI46Obko9w</string>
	<key>GCM_SENDER_ID</key>
	<string>689766559983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyo.app</string>
	<key>PROJECT_ID</key>
	<string>lyo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lyo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:689766559983:ios:309fdee02ee7b5420d2b1a</string>
</dict>
</plist>
